<h1>Create A New Bagel</h1>

<!-- http://guides.rubyonrails.org/active_record_validations.html#displaying-validation-errors-in-views -->
<% if @bagel.errors.any? %>
  <div>
    <h2><%= pluralize(@bagel.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @bagel.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@bagel) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>

  <%= f.label :price %>
  <%= f.number_field :price %>
  <br>
  <%= f.label :tasty %>
  <%= f.text_field :tasty %>
<br>
  <%= f.submit('Create A New Bagel') %>
<% end %>
